{
    "domain": "smtp.gmail.com",
    "port": 587,
    "username": "email@domain.at",
    "password": "PASSWORT",
    "pdf": "some.pdf",
    "template": "mail.template",
    "welcome_template": "welcome_mail.template",
    "reminder_template":{
                            "30":"reminder_mail_30days.template",
                            "60":"reminder_mail_60days.template",
                            "90":"reminder_mail_90days.template"
                        },
    "signature_template": "signature.template",
    "banking_account_name": "Account Name",
    "iban": "ATxxxxxxxxxxxxxxxxxxx",
    "currency": "EUR"
}